html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  /* color: #f2f2f2;
  background-color: #232c39; */
  color: #232c39;
  background-color: #f2f2f2;
}

.h-100vh {
  height: 100vh !important;
}



.border-capsule {
  border-radius: 35px;
}

.btn-custom {
  background-color: #425b92;
}

.text-customPink {
  color: #425b92;
}

.text-inherit {
  color: inherit !important;
}

.btn-custom:hover {
  background-color: #425b92b8;
}

@media (max-width: 992px) {
  .display-5 {
    font-size: calc(1.5rem + 3.9vw);
  }

  .display-3 {
    font-size: calc(1.5rem + 3.9vw);
  }

  .hero-section {
    margin-top: 10vh;
  }
}

@media (min-width: 992px) {
  .display-5 {
    font-size: 3rem;
  }

  .hero-section {
    height: calc(100vh - 66px);
  }
}