.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

/* .table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(66, 91, 146, 0.2) !important;
} */
