/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

/* @import "~bootstrap/scss/bootstrap.scss"; */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../resources/fonts/NotoSansJP-medium.css';

body {
  position: relative;
  height: 100vh;

  /* background-color: #2E2F30 !important; */

  /* background-image: linear-gradient(
    45deg,
    rgba(0, 216, 255, 0.5) 10%,
    rgba(0, 1, 127, 0.7)
  ); */

  /* font-family: Arial, Helvetica, Helvetica Neue, serif; */
  font-family: 'Noto Sans JP', sans-serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff !important;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white !important;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.app {
  height: 100vh;
}

.app-light-theme {
  background-color: #f2f2f2 !important;
  color: #425b92 !important;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.app-dark-theme {
  background-color: #232c39 !important;
  color: white !important;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.bottom-nav-custom {
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  background-color: #425b92;
  color: white !important;
}

.bottom-nav-custom div {
  padding-top: 2px;
  padding-bottom: 2px;
}

.bottom-nav-custom div:hover {
  background-color: #ffffff26;
}

.bg-customLightBlue {
  background-color: #8090b380;
}

.color-customLightBlue {
  color: #8090b380;
}

.bg-customDarkBlue {
  background-color: #425b92;
}

.border-customDarkBlue {
  border: 1px solid #425b92;
}

.cursor-pointer {
  cursor: pointer;
}

.box-shadow-none,
.box-shadow-none:focus {
  box-shadow: none !important;
}

.text-inherit {
  color: inherit !important;
}

.dnd-area {
  border: 2px dashed;
  box-sizing: border-box;
  border-radius: 15px;
}

.outline-0 {
  outline: 0 !important;
}

.table-hover tbody tr {
  opacity: 1;

  /* border-left: '1px solid #425b92a8';
  border-right: '1px solid #425b92a8'; */
}

.table-hover .tr-hover:hover {
  color: inherit !important;
  opacity: 0.8 !important;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #425b926b !important;
}

.max-width-0 {
  max-width: 0;
}

.btn-customDarkBlue {
  color: inherit;
  background-color: #425b92;
}

.btn-customDarkBlue:hover {
  background-color: #425b92b8;
  color: inherit;
}

.scrollable-tbody {
  max-height: calc(70vh - 40px);
  overflow-y: scroll;
}

/* tbody::before {
  content: '';
  display: block;
  height: 10px;
} */

/* Scrollbar  */

::-webkit-scrollbar {
  width: 9px !important;
}

/* scrollbar for theme */

.app-dark-theme ::-webkit-scrollbar-track {
  background: #545b62 !important;
}

.app-light-theme ::-webkit-scrollbar-track {
  background: #343a4038 !important;
}

.app-dark-theme ::-webkit-scrollbar-thumb {
  background: #343a40 !important;
  border-radius: 10px;
}

.app-light-theme ::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 10px;
}

.app-dark-theme ::-webkit-scrollbar-thumb:hover {
  background: #212529 !important;
}

.app-light-theme ::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}
